
[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v2.x
[submodule "Engine/vendor/raylib"]
	path = Engine/vendor/raylib
	url = https://github.com/raysan5/raylib
[submodule "Engine/vendor/Remotery"]
	path = Engine/vendor/Remotery
	url = https://github.com/Celtoys/Remotery.git
[submodule "Engine/vendor/flecs"]
	path = Engine/vendor/flecs
	url = https://github.com/SanderMertens/flecs.git
