[submodule "spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v2.x
[submodule "raylib"]
	path = Engine/vendor/raylib
	url = https://github.com/raysan5/raylib
[submodule "flecs"]
	path = Engine/vendor/flecs
	url = https://github.com/SanderMertens/flecs
	branch = master
[submodule "json"]
	path = Engine/vendor/json
	url = https://github.com/nlohmann/json
	branch = master
[submodule "Engine/vendor/catch2"]
	path = Engine/vendor/catch2
	url = https://github.com/catchorg/Catch2.git
